<!DOCTYPE html>
<html>
<head>
<title> About </title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
<nav class="navbar">
    <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/Library">Knot Library</a></li>
        <li><a href="/About">About</a></li>
    </ul>
</nav>

<div class="Library">
    <h2>About</h2>
    <ul class="about_info">
        <li><strong>Purpose:</strong> Visualize Legendrian knots created by generating families</li>
        <li><strong>Authors:</strong>Jessica Skinner, Jackson Smithey</li>
        <li><strong>Advisor:</strong>Hiro Tanaka</li>
    </ul>

    <h2>Links</h2>
    <ul class="about_info">
        <li>Github Repository:</li>
    </ul>
</div>

</body>
</html>